{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}CandlesDown{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'birthday/css/base.css' %}">
  <link rel="icon" type="image/png" href="{% static 'birthday/birthday-cake.png' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo"><a href="{% url 'home' %}">🎂🎉CandlesDown</a></h1>
      {% if request.session.org_id %}
        <nav>
          <ul class="nav-links">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'add_birthday' %}">Add Birthday</a></li>
            <li><a href="{% url 'org_logout' %}">Logout</a></li>
          </ul>
        </nav>
      {% endif %}
    </div>
  </header>

  <main class="container">
    <div class="content-container">
    {% block content %}{% endblock %}
  </div>
  </main>

  {% block extra_js %}{% endblock %}
</body>
</html>
